{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">Register</h1>
<form action = "" method = "post" style="margin-left: 10%;margin-right: 10%;">
    {% csrf_token %}

    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="text" class="form-control" id="FirstName" name="first_name" required>
    </div>

    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" class="form-control" id="LastName" name="last_name" required>
    </div>

    <div class="form-group">
        <label for="Email">Email address</label>
        <input type="email" class="form-control" id="Email" name="email" required>
    </div>

    <!-- <div class="form-group">
        <label for="Contact">Contact Number</label>
        <input type="text" class="form-control" id="Contact" name="phnum">
    </div> -->

    <div class="form-group">
        <label for="Profile">Profile Photo</label>
        <input type="file" class="form-control-file" id="Profile" name="profilephoto">
    </div>

    <div class="form-group">
        <label for="liscence">Liscence Number</label>
        <input type="text" class="form-control" id="liscence" name="liscence">
    </div>

    <div class="form-group">
        <label for="Role">Role</label>
        <select id="Role" class="form-control" name="role" required>
            <option selected></option>
            <option>Rider</option>
            <option>Passenger</option>
        </select>
    </div>

    <div class="form-group">
        <label for="Password1">Password</label>
        <input type="password" class="form-control" id="Password1" autocomplete="new-password" name="password1" required>
    </div>


    <div class="form-group">
        <label for="Password2">Confirm Password</label>
        <input type="password" class="form-control" id="Password2" name="password2" required>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>

{% if error %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <ul>
        {% for err in error %}
            <li><strong>{{ err }}</strong></li>
        {% endfor %}
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>  
        
{% endif %}
{% endblock %}