{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">Register</h1>
<form action = "" method = "post" style="margin-left: 10%;margin-right: 10%;">
    {% csrf_token %}

    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="text" class="form-control" id="FirstName" name="first_name" required>
    </div>

    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" class="form-control" id="LastName" name="last_name" required>
    </div>

    <div class="form-group">
        <label for="Email">Email address</label>
        <input type="email" class="form-control" id="Email" name="email" required>
    </div>

    <!-- <div class="form-group">
        <label for="Contact">Contact Number</label>
        <input type="text" class="form-control" id="Contact" name="phnum">
    </div> -->

    <div class="form-group">
        <label for="Profile">Profile Photo</label>
        <input type="file" class="form-control-file" id="Profile" name="profilephoto">
    </div>

    <div class="form-group">
        <label for="liscence">Liscence Number</label>
        <input type="text" class="form-control" id="liscence" name="liscence">
    </div>

    <div class="form-group">
        <label for="Role">Role</label>
        <select id="Role" class="form-control" name="role" required>
            <option selected></option>
            <option>Rider</option>
            <option>Passenger</option>
        </select>
    </div>

    <div class="form-group">
        <label for="Password1">Password</label>
        <input type="password" class="form-control" id="Password1" autocomplete="new-password" name="password1" required>
    </div>


    <div class="form-group">
        <label for="Password2">Confirm Password</label>
        <input type="password" class="form-control" id="Password2" name="password2" required>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>
<p class="text-center"> Already have an account?<a href="">Login</a></p>
<br>
<br>
{% if error %}
<div id="alert-border-2" class="flex items-center p-4 mb-4 text-red-800 border-t-4 border-red-300 bg-red-50 dark:text-red-400 dark:bg-gray-800 dark:border-red-800" role="alert">
    <!-- <svg class="shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/> -->
    </svg>
    <div class="ms-3 text-sm font-medium">
        <ul>
            {% for err in error %}
                <li><strong>{{ err }}</strong></li>
            {% endfor %}
        </ul>
    </div>
    <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700"  data-dismiss-target="#alert-border-2" aria-label="Close">
      <span class="sr-only">Dismiss</span>
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
    </button>
</div>

{% else %}
<div id="alert-border-3" class="flex items-center p-4 mb-4 text-green-800 border-t-4 border-green-300 bg-green-50 dark:text-green-400 dark:bg-gray-800 dark:border-green-800" role="alert">
    <svg class="shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
    <div class="ms-3 text-sm font-medium">
      User Registration Completed Successfully. <a href="#" class="font-semibold underline hover:no-underline">Login here</a>
    </div>
    <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700"  data-dismiss-target="#alert-border-3" aria-label="Close">
      <span class="sr-only">Dismiss</span>
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
    </button>
</div>
        
{% endif %}


{% endblock %}